.header_user_info {
  float: right;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff; }
  .header_user_info a {
    color: #777777;
	text-transform:uppercase;
	font-size:11px;
    display: block;
    padding: 8px 9px 11px 8px;
    cursor: pointer;
    line-height: 18px; }
    @media (max-width: 479px) {
      .header_user_info a {
        font-size: 11px; } }
    .header_user_info a:hover, .header_user_info a.active { text-decoration:underline}
