#search_block_top {
  padding-top: 50px; z-index:1000; }
  #search_block_top #searchbox {
    float: left;
    width: 100%; }
	
 @media (min-width: 1200px) {
      #search_block_top #searchbox {
    width: 70%; right:-180px;} }	
	
	

#search_block_top .btn.button-search {
    background: white;
    border: medium none;
    color: #aaa;
    display: block;
    padding: 5px 0 8px;
    position: absolute;
    right: 0;
    text-align: center;
    top:0px;
    width: 40px;
    height: 35px;
    border: 1px solid #eee;
}
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 16px;
      width: 100%;
      text-align: center; }
    #search_block_top .btn.button-search:hover {
      color: #6f6f6f; }
  #search_block_top #search_query_top {
    display: inline;
    padding: 0 13px;
    height: 35px;
    line-height:35px;
    margin-right: 1px; }

.ac_results {
  background: white;
  border: 1px solid #d6d4d4;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }
